/*
Template Name: Internet Business
File: Layout CSS
Author: OS Templates
Author URI: http://www.os-templates.com/
Licence: <a href="http://www.os-templates.com/template-terms">Website Template Licence</a>
*/

@import url(navi.css);
@import url(forms.css);
@import url(tables.css);
@import url(featured_slide.css);

body{
	margin:0;
	padding:10px 0 0 0;
	font-size:12px;
	font-family:verdana, Arial, Helvetica, sans-serif;
	color:#FFFFFF;
	background-color:#999999;
	}

img{border:0; display:block; padding:0; margin:0;}
.justify{text-align:justify;}
.bold{font-weight:bold;}
.center{text-align:center;}
.right{text-align:right;}
.nostart {list-style-type:none; margin:0; padding:0;}
.clear{clear:both;}
br.clear{clear:both; margin-top:-15px;}
a{outline:none; text-decoration:none;}

.fl_left{float:left;}
.fl_right{float:right;}

.imgl, .imgr{border:1px solid #DFDFDF; padding:5px; color:#666666; background-color:#FFFFFF;}
.imgl{float:left; margin:0 8px 8px 0; clear:left;}
.imgr{float:right; margin:0 0 8px 8px; clear:right;}

/* ----------------------------------------------Generalise-------------------------------------*/

h1, h2, h3, h4, h5, h6{
	margin:0 0 20px 0;
	padding:0 0 8px 0;
	font-size:20px;
	font-weight:normal;
	font-family:Georgia, "Times New Roman", Times, serif;
	border-bottom:1px dotted #DDDDDD;
	}

#header, #topbar, #featured_slide, #homecontent, #breadcrumb, #container, #footer, #copyright{
	margin:0 auto 0;
	display:block;
	width:960px;
	}

.wrapper{
	display:block;
	width:920px;
	padding:15px 10px;
	color:#666666;
	background-color:#FFFFFF;
	border-left:10px solid #DFDFDF;
	border-right:10px solid #DFDFDF;
	}

/* ----------------------------------------------Header-------------------------------------*/

#header .wrapper{
	border-top:10px solid #DFDFDF;
	}

#header h1, #header p{
	margin:0;
	padding:0;
	}

#header .fl_left{
	display:block;
	float:left;
	width:400px;
	margin:5px 0 0 0;
	}

#header .fl_right{
	display:block;
	float:right;
	width:468px;
	}

#header h1{
	margin:0;
	font-size:36px;
	border:none;
	}

#header h1 a{
	color:#059BD8;
	background-color:#FFFFFF;
	}

/* ----------------------------------------------Topbar-------------------------------------*/

#topbar .wrapper{
	padding:0 10px;
	}

#topbar #search{
	display:block;
	float:right;
	width:251px;
	height:36px;
	margin:0;
	padding:10px 0 0 7.5px;
	color:#FFFFFF;
	background-color:#000000;
	border-left:1px dotted #666666;
	overflow:hidden;
	}

/* ----------------------------------------------Homepage Intro-------------------------------------*/

#homecontent .wrapper{
	padding:25px 10px;
	}

#homecontent a{
	color:#059BD8;
	background-color:#FFFFFF;
	}

#homecontent ul{
	display:inline;
	margin:0;
	padding:0;
	list-style:none;
	}

#homecontent li{
	display:block;
	float:left;
	width:290px;
	margin:0 25px 0 0;
	padding:0;
	}

#homecontent li.last{margin-right:0;}

#homecontent li h2.title{
	display:block;
	width:100%;
	height:65px;
	margin:0;
	padding:15px 0 8px 0;
	font-size:20px;
	font-weight:normal;
	font-family:Georgia, "Times New Roman", Times, serif;
	color:#666666;
	background-color:#FFFFFF;
	line-height:normal;
	border-bottom:1px dashed #CCCCCC;
	}

#homecontent li h2.title img{
	float:left;
	margin:-15px 8px 0 0;
	padding:5px;
	color:#666666;
	background-color:#F7F7F7;
	border:1px solid #CCCCCC;
	}

#homecontent p.readmore{
	display:block;
	width:100%;
	text-align:right;
	line-height:normal;
	font-weight:bold;
	margin:0;
	padding:0;
	}

/* ----------------------------------------------BreadCrumb-------------------------------------*/

#breadcrumb .wrapper{
	padding:15px 10px;
	border-bottom:1px solid #CCCCCC;
	}

#breadcrumb a{
	color:#059BD8;
	background-color:#FFFFFF;
	}

#breadcrumb ul{
	margin:0;
	padding:0;
	list-style:none;
	}

#breadcrumb ul li{display:inline;}
#breadcrumb ul li.current a{text-decoration:underline;}

/* ----------------------------------------------Content-------------------------------------*/

#container .wrapper{
	padding:20px 10px;
	line-height:1.4em;
	color:#666666;
	background-color:#F5F5F5;
	}

#container a{
	color:#059BD8;
	background-color:#F5F5F5;
	}

#container h1, #container h2, #container h3, #container h4, #container h5, #container h6{
	padding-bottom:8px;
	border-bottom:1px dotted #CCCCCC;
	}

#content{
	display:block;
	float:left;
	width:580px;
	}

/* ------Comments-----*/

#comments{margin-bottom:40px;}

#comments .commentlist {margin:0; padding:0;}

#comments .commentlist ul{margin:0; padding:0; list-style:none;}

#comments .commentlist li.comment_odd, #comments .commentlist li.comment_even{margin:0 0 10px 0; padding:15px; list-style:none;}

#comments .commentlist li.comment_odd{color:#666666; background-color:#FFFFFF;}
#comments .commentlist li.comment_odd a{color:#059BD8; background-color:#FFFFFF;}

#comments .commentlist li.comment_even{color:#666666; background-color:#E8E8E8;}
#comments .commentlist li.comment_even a{color:#059BD8; background-color:#E8E8E8;}

#comments .commentlist .author .name{font-weight:bold;}
#comments .commentlist .submitdate{font-size:smaller;}

#comments .commentlist p{margin:10px 5px 10px 0; padding:0; font-weight: normal;text-transform: none;}

#comments .commentlist li .avatar{float:right; border:1px solid #EEEEEE; margin:0 0 0 10px;}

/* ----------------------------------------------Column-------------------------------------*/

#column{
	display:block;
	float:right;
	width:300px;
	}

#column .holder, #column #featured{
	display:block;
	width:300px;
	margin-bottom:20px;
	}

#column .holder h2.title{
	display:block;
	width:100%;
	height:65px;
	margin:0;
	padding:15px 0 0 0;
	font-size:20px;
	line-height:normal;
	border-bottom:1px dashed #666666;
	}

#column .holder h2.title img{
	float:left;
	margin:-15px 8px 0 0;
	padding:5px;
	border:1px solid #666666;
	}

#column div.imgholder{
	display:block;
	width:290px;
	margin:0 0 10px 0;
	padding:4px;
	color:#666666;
	background-color:#FFFFFF;
	border:1px solid #CCCCCC;
	}

#column .holder p.readmore{
	display:block;
	width:100%;
	font-weight:bold;
	text-align:right;
	line-height:normal;
	}
	
/* Featured Block */

#column #featured a{
	color:#666666;
	background-color:#F9F9F9;
	}

#column #featured ul, #column #featured h2, #column #featured p{
	margin:0;
	padding:0;
	list-style:none;
	}

#column #featured a{
	color:#059BD8;
	background-color:#F9F9F9;
	}

#column #featured li{
	display:block;
	width:250px;
	margin:0;
	padding:20px 25px;
	color:#666666;
	background-color:#F9F9F9;
	}

#column #featured li p.imgholder{
	display:block;
	width:240px;
	height:90px;
	margin:20px 0 15px 0;
	padding:4px;
	border:1px solid #CCCCCC;
	}

#column #featured li h2{
	margin:0;
	padding:0 0 14px 0;
	font-weight:normal;
	font-family:Georgia, "Times New Roman", Times, serif;
	line-height:normal;
	border-bottom:1px dashed #666666;
	}

#column #featured p.readmore{
	display:block;
	width:100%;
	margin-top:15px;
	font-weight:bold;
	text-align:right;
	line-height:normal;
	}

#column #latestnews{
	display:block;
	width:100%;
	margin:0;
	padding:0;
	list-style:none;
	}

#column #latestnews li{
	display:block;
	margin:0 0 20px 0;
	padding:0 0 15px 0;
	border-bottom:1px dotted #DDDDDD;
	}

#column #latestnews li.last{
	margin-bottom:0;
	}

#column #latestnews p{
	margin:0;
	padding:0;
	line-height:normal;
	}

#column #latestnews .imgl{
	margin:0 10px 10px 0;
	padding:4px;
	}

/* ----------------------------------------------Footer-------------------------------------*/

#footer .wrapper{
	padding:20px;
	border:none;
	color:#98989A;
	background-color:#2F2F2F;
	}

#footer a{
	color:#059BD8;
	background-color:#2F2F2F;
	}

#footer h2{
	padding-bottom:8px;
	border-bottom:1px dotted #999999;
	}

#footer p, #footer ul, #footer a{
	margin:0;
	padding:0;
	font-weight:normal;
	list-style:none;
	line-height:normal;
	}

#footer .footbox{
	display:block;
	float:right;
	width:175px;
	margin:0 0 0 30px;
	padding:0;
	}

#footer li{
	margin-bottom:3px;
	}

#footer .last{
	margin:0;
	}

#newsletter{
	display:block;
	float:left;
	width:300px;
	}

/* ----------------------------------------------Copyright-------------------------------------*/

#copyright .wrapper{
	padding:10px 20px;
	border:none;
	}

#copyright p{
	margin:0;
	padding:0;
	}

#copyright .wrapper, #copyright a{
	color:#FFFFFF;
	background-color:#3D3D3D;
	}
.contact_map{
	width: 300px;
	border:1px solid #3D3D3D;
	float:left;
	margin:10px 0 50px 250px ;
}

.contact_text{
	width: 200px;
	float:left;
	margin:10px 0 50px 250px ;
	padding: 10px 0 10px 10px ;
	color: #000000;
	font-size: 15px;
}